%h1
  = resource_class.to_s.pluralize
  \|
  = link_to t('.new'), new_resource_path

%table(border="1" cellpadding="3" cellspacing="3" width="100%")
  %thead
    %tr
      %th
        = resource_class.human_attribute_name(attr_to_link_to.to_sym)
      - attrs_for_index.each do |attr|
        %th
          = resource_class.human_attribute_name(attr.to_s)
      %th/

  %tbody
    - collection.each do |resource|
      %tr
        %td
          = link_to resource.attributes[attr_to_link_to], resource_path(resource)
        - attrs_for_index.each do |attr|
          %td
            = resource.attributes[attr.to_s].to_s
        %td
          = link_to t('.edit'), edit_resource_url(resource)

= debug(collection)

%p Find me in app/views/crud/index.html.haml
