%h1
  #{resource.class} #{resource.id}
%p
  = link_to t('.edit'), edit_resource_path
  \|
  = link_to t('.home'), collection_url

%dl
  - resource.attributes.each do |key,value|
    %dt= key
    %dd= value

%p Find me in app/views/crud/show.html.haml
